In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

%matplotlib inline

In [9]:
df = pd.read_csv('/Users/joce/Desktop/train_categorical.csv', low_memory=False)

CParserError: Error tokenizing data. C error: out of memory

df = pd.read_csv('/Users/joce/Desktop/ICPSR_27521/DS0001/27521-0001-Data.tsv', low_memory=False, delimiter='\t')

In [2]:
df = pd.read_table('/Users/joce/Desktop/ICPSR_27521/DS0001/27521-0001-Data.tsv', low_memory=False)

In [3]:
df.head()

,CASEID,QUESTID,CIGEVER,CIGOFRSM,CIGWILYR,CIGTRY,CIGYFU,CIGMFU,CIGREC,CIG30USE,...,LARCENY,MTRTHEFT,FRAUD,PROPCRME,DRUG,DRUGSALE,ALLARRST,SAXMDE,MDEGT12M,SAXMDEGT
0,1,2000033,1,99,99,18,9999,99,1,3,...,0,0,0,0,0,0,0,0,0,0
1,2,2000140,1,99,99,13,9999,99,4,93,...,0,0,0,0,0,0,0,0,0,0
2,3,2000202,1,99,99,28,9999,99,4,93,...,0,0,0,0,0,0,0,0,0,0
3,4,2000220,1,99,99,12,9999,99,4,93,...,0,0,0,0,0,0,0,0,0,0
4,5,2000257,1,99,99,12,9999,99,4,93,...,0,0,0,0,0,0,0,0,0,0

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 55602 entries, 0 to 55601
Columns: 3011 entries, CASEID to SAXMDEGT
dtypes: float64(48), int64(2963)
memory usage: 1.2 GB

In [5]:
df.describe()

,CASEID,QUESTID,CIGEVER,CIGOFRSM,CIGWILYR,CIGTRY,CIGYFU,CIGMFU,CIGREC,CIG30USE,...,LARCENY,MTRTHEFT,FRAUD,PROPCRME,DRUG,DRUGSALE,ALLARRST,SAXMDE,MDEGT12M,SAXMDEGT
count,55602.000000,5.560200e+04,55602.000000,55602.000000,55602.000000,55602.000000,55602.000000,55602.000000,55602.000000,55602.000000,...,55602.000000,55602.000000,55602.000000,55602.000000,55602.000000,55602.000000,55602.000000,55602.000000,55602.000000,55602.000000
mean,27801.500000,4.535157e+06,1.420219,77.142477,77.148646,431.909464,9687.930560,92.212043,39.659149,72.852056,...,-0.012625,-0.017427,-0.016025,-0.008147,-0.012032,-0.012032,0.016672,-0.140031,-0.302939,-0.170677
std,16051.059171,1.478201e+06,0.493598,40.031743,40.025163,482.973036,1537.150196,16.978284,43.736749,31.905573,...,0.161106,0.144944,0.150102,0.175335,0.163534,0.163534,0.235420,0.486277,0.539668,0.431621
min,1.000000,2.000033e+06,1.000000,1.000000,1.000000,1.000000,2002.000000,1.000000,1.000000,1.000000,...,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000
25%,13901.250000,3.274808e+06,1.000000,99.000000,99.000000,14.000000,9991.000000,91.000000,1.000000,30.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,-1.000000,0.000000
50%,27801.500000,4.490322e+06,1.000000,99.000000,99.000000,18.000000,9999.000000,99.000000,4.000000,91.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
75%,41701.750000,5.788794e+06,2.000000,99.000000,99.000000,991.000000,9999.000000,99.000000,91.000000,93.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
max,55602.000000,7.171883e+06,2.000000,99.000000,99.000000,997.000000,9999.000000,99.000000,91.000000,98.000000,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

sns.heatmap(df.corr());

In [7]:
df.columns

Index([u'CASEID', u'QUESTID', u'CIGEVER', u'CIGOFRSM', u'CIGWILYR', u'CIGTRY',
       u'CIGYFU', u'CIGMFU', u'CIGREC', u'CIG30USE',
       ...
       u'LARCENY', u'MTRTHEFT', u'FRAUD', u'PROPCRME', u'DRUG', u'DRUGSALE',
       u'ALLARRST', u'SAXMDE', u'MDEGT12M', u'SAXMDEGT'],
      dtype='object', length=3011)

In [8]:
df.shape

(55602, 3011)