In [2]:
import requests
import bs4
from bs4 import BeautifulSoup
from selenium import webdriver

import pandas as pd

import numpy as np

import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline

path_phantom = '//Applications/phantomjs'

from sklearn.feature_extraction.text import CountVectorizer

from sklearn.linear_model import LogisticRegressionCV, LogisticRegression, LinearRegression

from wordcloud import WordCloud, ImageColorGenerator, get_single_color_func

In [3]:
indeed = pd.read_csv('indeed.csv')
glassdoor = pd.read_csv('glassdoor.csv')

In [4]:
indeed.head()

,Unnamed: 0,title,company,location,summary,est_annual_sal
0,0,"Software Development Engineer, Data Science- R...","Audible, Inc.",United States,Do you enjoy working with Data Scientists to w...,NaN
1,1,"Software Development Engineer, Big Data Analyt...",Amazon Corporate LLC,United States,We specifically seek candidates who want to jo...,NaN
2,2,Principal Research Scientist- Relocation Oppor...,Amazon Corporate LLC,United States,Experience with very large-scale data and the ...,NaN
3,3,Applications/Product Development Engineer/Scie...,"Lohmann Specialty Coatings, LLC (Orange, VA)","Roanoke, VA","Ability to conduct routine lab tests, analyze ...",NaN
4,4,"Software Development Engineer, Big Data- Reloc...",Amazon Corporate LLC,United States,Are you interested in building data pipelines ...,NaN

In [5]:
glassdoor.head()

,Unnamed: 0,city,company,jobTitle,meanPay,rate,est_annual_salary
0,0,"Albany, NY",GE,Data Scientist,$100k - $108k,1,104000.0
1,1,"Arlington, TX",State Farm,Data Scientist,$100k - $110k,1,105000.0
2,2,"Arlington, TX",Epsilon,Data Scientist,$160k - $173k,1,166500.0
3,3,"Arlington, TX",Match,Data Scientist,$79k - $86k,1,82500.0
4,4,"Arlington, TX",Hudl,Data Scientist,$86k - $94k,1,90000.0

In [ ]:
s