In [71]:
import requests
import bs4
from bs4 import BeautifulSoup
from selenium import webdriver

import pandas as pd

import numpy as np

import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline

path_phantom = '//Applications/phantomjs'

from sklearn.feature_extraction.text import CountVectorizer

from sklearn.linear_model import LogisticRegressionCV, LogisticRegression

from wordcloud import WordCloud, ImageColorGenerator, get_single_color_func

In [72]:
cities=pd.read_csv("data/Living_Index.csv")
nyse=pd.read_csv("data/NYSE.csv")
nasdaq=pd.read_csv("data/NASDAQ.csv")
amex=pd.read_csv("data/AMEX.csv")
stocks=nyse.append(nasdaq,ignore_index=True).append(amex,ignore_index=True)
cities=cities.rename(columns={"Urban Area":"City"})
city_list=[x for x in cities['City']]

In [73]:
salaries = pd.read_json("data/allcities.json")

In [74]:
len(salaries)

1546

In [75]:
def only_numerics(seq):
    seq = seq.split('-')
    try:
        out = ((int(filter(type(seq[0]).isdigit, seq[0])) + int(filter(type(seq[1]).isdigit, seq[1])))/2)*1000
    except:
        out = int(filter(type(seq[0]).isdigit, seq[0]))
    return out

salaries['meanPay'] = salaries['meanPay'].apply(only_numerics)

In [76]:
salaries = salaries[salaries.jobTitle.str.contains("Intern") == False]
salaries = salaries[salaries.jobTitle.str.contains("Hourly") == False]
salaries['jobTitle'].unique()

array([u'Data Scientist', u'Entry Level Data Scientist',
       u'Senior Data Scientist', u'Junior Data Scientist',
       u'Principal Data Scientist', u'Data Scientist II',
       u'Data Scientist I', u'Associate Data Scientist',
       u'Chief Data Scientist',
       u'Clinical Laboratory Scientist-data Analyst',
       u'Senior Data Scientist/Statistician',
       u'Scientist, Statistical and Data Sciences',
       u'Data Visualization Scientist', u'Staff Data Scientist',
       u'Lead Data Scientist', u'Software Engineer (Data Scientist)'], dtype=object)

In [77]:
salaries['state'] = salaries.city.apply(lambda x: x[-2:])

Remove duplicates:

In [78]:
cities = salaries.groupby(['city', 'state'])['city'].count().to_frame()

In [79]:
cities.rename(columns={'city': 'count'}, inplace=True)
cities.reset_index(inplace=True)

In [80]:
cities['duplicated'] = cities.duplicated(['count', 'state'], keep=False)

In [81]:
cities[cities['duplicated']==True].sort_values(by=['state','count'])

                 city state  count duplicated
55        Oakland, CA    CA    134       True
75  San Francisco, CA    CA    134       True
9       Bradenton, FL    FL      1       True
78       Sarasota, FL    FL      1       True
2         Atlanta, GA    GA     42       True
48       Marietta, GA    GA     42       True
6     Baton Rouge, LA    LA      2       True
36        Hammond, LA    LA      2       True
45      Lafayette, LA    LA      2       True
50    Minneapolis, MN    MN     11       True
82       St. Paul, MN    MN     11       True
12    Chapel Hill, NC    NC     15       True
29         Durham, NC    NC     15       True
65        Raleigh, NC    NC     15       True
46     Las Cruces, NM    NM      1       True
67     Rio Rancho, NM    NM      1       True
0          Albany, NY    NY      1       True
10        Buffalo, NY    NY      1       True
85       Syracuse, NY    NY      1       True
16     Cincinnati, OH    OH      5       True
17      Cleveland, OH    OH      5       True
11         Camden, SC    SC      1       True
19       Columbia, SC    SC      1       True
84         Sumter, SC    SC      1       True
44      Knoxville, TN    TN      2       True
52     Morristown, TN    TN      2       True
73    San Antonio, TX    TX      3       True
80         Seguin, TX    TX      3       True
21         Conroe, TX    TX     16       True
40        Houston, TX    TX     16       True
3          Austin, TX    TX     26       True
70     Round Rock, TX    TX     26       True
77     San Marcos, TX    TX     26       True
1       Arlington, TX    TX     39       True
24         Dallas, TX    TX     39       True
34     Fort Worth, TX    TX     39       True
61          Plano, TX    TX     39       True
89    Weatherford, TX    TX     39       True
30        Everett, WA    WA     45       True
79        Seattle, WA    WA     45       True
86         Tacoma, WA    WA     45       True

In [82]:
# What to remove:
removables = ['Everett, WA', 'Tacoma, WA', 'Weatherford, TX', 'Plano, TX', 'Fort Worth, TX', 'Arlington, TX', 'San Marcos, TX', 'Round Rock, TX', 'Conroe, TX', 'Seguin, TX', 'Morristown, TN', 'Sumter, SC', 'Camden, SC', 'Durham, NC', 'Chapel Hill, NC', 'St. Paul, MN', 'Hammond, LA', 'Marietta, GA', 'Bradenton, FL', 'Oakland, CA']

In [83]:
salaries = salaries[~salaries['city'].isin(removables)]
salaries.reset_index(inplace=True)
del salaries['index']

Remove state name from city

In [84]:
salaries['city'] = salaries.city.apply(lambda x: x[:-4])

Rearrange state to be next to city

In [90]:
cols = ['city', 'state', 'company', 'jobTitle', 'meanPay']
salaries = salaries[cols]
salaries.company.unique()

array([u'GE', u'CareerBuilder', u'NCR', u'The Home Depot', u'Feedzai',
       u'IBM', u'Booz Allen Hamilton', u'PwC',
       u'Cognizant Technology Solutions', u'Rang Technologies', u'KPMG',
       u'Gallup', u'Hewlett Packard Enterprise | HPE', u'Verizon',
       u'Verizon Wireless', u'Fractal Analytics', u'Equifax',
       u'Northrop Grumman', u'ADP', u'Kabbage', u'Citi', u'Honeywell',
       u'Intuitive Surgical', u'AT&T', u'Cox Enterprises', u'Hearst',
       u"Macy's", u'Bank of America', u'Exponent', u'Razorfish',
       u'Market Strategies International', u'Experian', u'Think Big',
       u'Square Root', u'Adometry', u'Vast', u'Facebook', u'Apple',
       u'Amazon.com', u'eBay', u'Visa Inc.', u'NTT DATA', u'Zynga',
       u'General Motors', u'The Advisory Board Company',
       u'Clockwork Solutions', u'Intel Corporation', u'MaxPoint', u'Dell',
       u'Cisco Systems', u'Philips', u'MITRE', u'CORMAC', u'Nielsen',
       u'US Department of Defense', u'General Dynamics Mission Systems',
       u'Micron Technology', u'Wayfair', u'TripAdvisor', u'TrueMotion',
       u'DataXu', u'PayPal', u'Tremor Video', u'Microsoft', u'Altisource',
       u'Vantiv', u'Autodesk', u'Brown University',
       u'Boston Consulting Group', u'Ciber', u'Nokia', u'Aptima',
       u'Alliance Data', u'Epsilon', u'Blackbaud',
       u'Sapient Global Markets', u'GoDaddy', u'ViaSat', u'NVIDIA',
       u'Novartis Pharmaceuticals', u'Spotify', u'ACI Worldwide',
       u'Biogen', u'Tiger Analytics', u'Akamai', u'YuMe', u'FIS',
       u'BNY Mellon', u'Fuzzy Logix', u'MetLife', u'Marketing Associates',
       u'Elder Research', u'BAE Systems USA', u'MDA IS',
       u'Civis Analytics', u'Allstate', u'Uptake', u'Datascope Analytics',
       u'Uber', u'Google', u'EMC', u'Motorola Mobility', u'GrubHub',
       u'HERE', u'Capital One', u'Hewlett-Packard', u'Groupon', u'SAP',
       u'Avanade', u'CNA', u'ShopperTrak', u'Anthem', u'Hertz',
       u'84.51\xb0', u'The Nerdery', u'Expedia', u'IPG Mediabrands',
       u'Kemper', u'Gannett', u'SuccessFactors', u'Crowe Horwath',
       u'DialogTech', u'Conversant', u'Seamless', u'NPD', u'Avant',
       u'Navistar', u'Zurich North America', u'ThoughtWorks', u'Explorys',
       u'Atos', u'Raytheon', u'J.P. Morgan', u'Chase', u'State Farm',
       u'Match', u'Hudl', u'Lockheed Martin', u'Leidos', u'Humana',
       u'Infovision', u'Toyota North America', u'Argo Data',
       u'Elevate Credit', u'Engility', u'Oracle', u'SpotX',
       u'Anadarko Petroleum', u'Molson Coors', u'DISH',
       u'Journal Register', u'MediaNews', u'Digital First Media',
       u'DuPont', u'Businessolver', u'Quicken Loans',
       u'Ford Motor Company', u'IHS', u'Tata Consultancy Services',
       u'Walmart', u'SAIC', u'Ascensus', u'Accenture', u'ING',
       u'C&S Wholesale Grocers', u'The Hartford', u'Schlumberger',
       u'Chevron', u'Equinix', u'McKinsey & Company', u'Salesforce',
       u'MECLABS', u'Florida Blue', u'CGI', u'Altamira Technologies',
       u'Live Nation Entertainment', u'Thomson Reuters', u'Cargill',
       u'Target', u'NativeX', u'AIG', u'Knewton', u'Audible',
       u'Case Commons', u'EBH Enterprises', u'Bloomberg L.P.',
       u'Credit Suisse', u'1010data', u'Oscar Insurance', u'OnDeck',
       u'Marketing Evolution', u'DemystData', u'Integral Ad Science',
       u'American Express', u'Paperless Post', u'Time Inc.', u'ConsultAdd',
       u'Intent Media', u'American Express TRS', u'Outbrain',
       u'Pandora Media', u'Palantir Technologies', u'Chubb', u'FINRA',
       u'MasterCard', u'CA Technologies', u'AppNexus', u'Twitter',
       u'Comcast', u'Huawei Technologies', u'Lightpath', u'HookLogic',
       u'World Wrestling Entertainment', u'comScore',
       u'Insurance Services Office', u'AOL', u'Morgan Stanley',
       u'Fidelity Investments', u'Etsy', u'Dealer.com', u'Birchbox',
       u'Verisk Analytics', u'Chegg', u'Aetna', u'Pivotal', u'2U',
       u'Assero Services', u'QuintilesIMS', u'PRA Health Sciences',
       u'L-3 Communications', u'Amazon Lab126', u'LinkedIn', u'PNNL',
       u'GitHub', u'McAfee', u'SAS Institute', u'Parsons Brinckerhoff',
       u'Vistronix', u'Snagajob', u'Neustar', u'Engage3',
       u'Monsanto Company', u'Zions Bancorporation',
       u'IM Flash Technologies', u'FICO', u'Teradata', u'Intuit',
       u'FocusKPI, Inc.', u'CoreLogic', u'QinetiQ North America',
       u'Thermo Fisher Scientific', u'Airbnb', u'Lumiata', u'StumbleUpon',
       u'Practice Fusion', u'Zillow', u'Ayasdi', u'AutoGrid',
       u'RichRelevance', u'Premise Data Corporation', u'6sense', u'Kixeye',
       u'Glassdoor', u'Asana', u'Alpine Data Labs', u'Square', u'Esurance',
       u'Stitch Fix', u'Tesla Motors', u'Trulia', u'Gap', u'Tapjoy',
       u'Zephyr Health', u'Conviva', u'Tagged', u'Apollo Education Group',
       u'GREE International Entertainment', u'Symantec', u'TrueCar',
       u"Kohl's", u'SocialCode', u'Hotwire', u'Rocket Fuel', u'TellApart',
       u'Monogram Biosciences', u'Eventbrite', u'Walmart eCommerce',
       u'Ancestry.com', u'ZestFinance', u'Adobe', u'Riverbed Technology',
       u'AgilOne', u'IMVU', u'Quora, Inc.', u'Dhingana', u'Seti Institute',
       u'Bidgely', u'1618Labs', u'Infosys', u'Yahoo', u'Fujitsu',
       u'ServiceNow', u'Netflix', u'BCG Digital Ventures', u'ZEFR',
       u'Nordstrom', u'Voicebox Technologies', u'Redfin', u'Boeing',
       u'Xerox', u'SRC'], dtype=object)

In [86]:
salaries[salaries['city'] == 'Cincinnati']

           city state              company               jobTitle  meanPay
214  Cincinnati    OH               84.51°         Data Scientist   102000
215  Cincinnati    OH  Booz Allen Hamilton         Data Scientist    73000
216  Cincinnati    OH                   GE         Data Scientist   110000
217  Cincinnati    OH               Vantiv         Data Scientist    88000
218  Cincinnati    OH                   GE  Senior Data Scientist   124000

# Getting job descriptions from Indeed

In [20]:
## YOUR CODE HERE
def extract_location_from_result(result):
    try:
        location = result.find('span', class_='location').text.strip()
    except:
        location = ''
    return location

def extract_title_from_result(result):
    try:
        job_title = result.find('a', class_='jobtitle').text.strip('\n')
    except:
        try:
            job_title = result.find('h2', class_='jobtitle').text.strip('\n')
        except:
            job_title = ''
    return job_title

def extract_summary_from_result(result):
    try:
        summary = result.find('span', class_='summary').text.strip()
    except:
        summary = ''
    return summary

def extract_company_from_result(result):
    try:
        company = result.find('span', class_='company').text.strip()
    except:
        company = ''
    return company

def extract_reviews_from_result(result):
    try:
        sub = result.find('span', class_='slNoUnderline').text.strip()
        if 'review' in sub:
            reviews = sub.split()[0]
    except:
        reviews = ''
    return reviews

def extract_salary_from_result(result):
    try:
        salary = result.find('td', class_='snip').find('nobr').text.strip()
#         salary_text = salary_text.split()
#         salary = float(salary_text[0].strip('$').replace(',',''))
    except:
        salary = ''
    return salary

def get_all_details(result):
#     if extract_salary_from_result(result) != '':
    return [extract_title_from_result(result),\
            extract_company_from_result(result),\
            extract_location_from_result(result),\
            extract_summary_from_result(result)]
           # extract_salary_from_result(result)]
#     else:
#         return 'skip'

In [88]:
search_list = [['+'.join(x[0].split(' ')), x[1], '+'.join((x[3] + ' ' + x[2]).split(' '))] for x in \
              zip(salaries['city'], salaries['state'], salaries['company'],salaries['jobTitle'])]

search_list

In [101]:
for i in range(len(search_list)):
    if '84.51' in search_list[i][2]:
        search_list[i][2] = search_list[i][2][:-1]

In [105]:
url_template = 'http://www.indeed.com/jobs?q={}&l={}%2C+{}'
results = []
driver = webdriver.PhantomJS(executable_path=path_phantom)

In [106]:
for i in search_list:
    full_url = url_template.format(i[2], i[1], i[0])
    driver.get(full_url)
    soup = BeautifulSoup(driver.page_source, 'lxml')
    # Append to the full set of results
    out = get_all_details(soup.find('div', class_='result'))
    out.extend(i)
    results.append(out)
#         pass

In [111]:
indeed_df = pd.DataFrame(results)
indeed_df.head()

,0,1,2,3,4,5,6,7
0,Bioinformatics Data Scientist,GE Corporate,"Niskayuna, NY","As a Data Scientist, you will:. Work with a te...",,Albany,NY,Data+Scientist+GE
1,Data Scientist (Data Science R&D),CareerBuilder,"Norcross, GA 30092",Data Scientist (Data Science R&D). The team al...,"$10,000 a year",Atlanta,GA,Data+Scientist+CareerBuilder
2,Data Scientist-1,NCR,"Duluth, GA 30096",NCR (. About NCR Corporation. NCR only accepts...,,Atlanta,GA,Data+Scientist+NCR
3,DATA SCIENTIST,Home Depot,"Atlanta, GA 30354",Strong communication and data presentation ski...,,Atlanta,GA,Data+Scientist+The+Home+Depot
4,Data Scientist,Feedzai,"Atlanta, GA",Feedzai is an Equal Opportunity Employer. If y...,,Atlanta,GA,Data+Scientist+Feedzai

In [112]:
indeed_df.columns = ['title', 'company', 'location', 'description',\
                     'drop', 'search_city', 'search_state', 'search_title_company']

In [120]:
indeed_df.head(20)

,title,company,location,description,drop,search_city,search_state,search_title_company,city,in_city
0,Bioinformatics Data Scientist,GE Corporate,"Niskayuna, NY","As a Data Scientist, you will:. Work with a te...",,Albany,NY,Data+Scientist+GE,Niskayuna,Niskayuna
1,Data Scientist (Data Science R&D),CareerBuilder,"Norcross, GA 30092",Data Scientist (Data Science R&D). The team al...,"$10,000 a year",Atlanta,GA,Data+Scientist+CareerBuilder,Norcross,Norcross
2,Data Scientist-1,NCR,"Duluth, GA 30096",NCR (. About NCR Corporation. NCR only accepts...,,Atlanta,GA,Data+Scientist+NCR,Duluth,Duluth
3,DATA SCIENTIST,Home Depot,"Atlanta, GA 30354",Strong communication and data presentation ski...,,Atlanta,GA,Data+Scientist+The+Home+Depot,Atlanta,Atlanta
4,Data Scientist,Feedzai,"Atlanta, GA",Feedzai is an Equal Opportunity Employer. If y...,,Atlanta,GA,Data+Scientist+Feedzai,Atlanta,Atlanta
5,Software Engineers - Data Analytics Engineer,"Solidyn Solutions, Inc",United States,Certification in Cloudera data technologies (C...,,Atlanta,GA,Data+Scientist+IBM,United States,United States
6,,,,,,Atlanta,GA,Data+Scientist+Booz+Allen+Hamilton,,
7,,,,,,Atlanta,GA,Data+Scientist+PwC,,
8,,,,,,Atlanta,GA,Data+Scientist+Cognizant+Technology+Solutions,,
9,,,,,,Atlanta,GA,Data+Scientist+Rang+Technologies,,
10,Data Scientist,KPMG,"Atlanta, GA 30338","KPMG is currently seeking a Data Scientist, to...",,Atlanta,GA,Data+Scientist+KPMG,Atlanta,Atlanta
11,,,,,,Atlanta,GA,Data+Scientist+Gallup,,
12,,,,,,Atlanta,GA,Data+Scientist+Hewlett+Packard+Enterprise+|+HPE,,
13,Senior Data Scientist,Verizon,"Alpharetta, GA 30022","Experience as a data scientist, analyst or sta...",,Atlanta,GA,Data+Scientist+Verizon,Alpharetta,Alpharetta
14,Data Analyst,Verizon,"Alpharetta, GA 30004",Data Analytics – Junior Data Scientist. For in...,,Atlanta,GA,Data+Scientist+Verizon+Wireless,Alpharetta,Alpharetta
15,,,,,,Atlanta,GA,Data+Scientist+Fractal+Analytics,,
16,"Data Scientist, Identity & Linking",Equifax,"Alpharetta, GA 30005","Data Scientist, Entity Resolution and Data Lin...",,Atlanta,GA,Data+Scientist+Equifax,Alpharetta,Alpharetta
17,Business Process Consultant (Oracle OPM SME) (...,CHIPTON ROSS,"Atlanta, GA",The resource (s) will serve as a Business Pro...,,Atlanta,GA,Data+Scientist+Northrop+Grumman,Atlanta,Atlanta
18,Lead UI/Angular Developer,ADP,"Alpharetta, GA 30004","At ADP, the world's largest B2B cloud company,...",,Atlanta,GA,Data+Scientist+ADP,Alpharetta,Alpharetta
19,Data Scientist,Kabbage,"Atlanta, GA",What it takes to be a Data Scientist at Kabbag...,,Atlanta,GA,Data+Scientist+Kabbage,Atlanta,Atlanta

In [121]:
indeed_df['in_city'] = indeed_df['location'].map(lambda x: x.split(',')[0] if x != 'United States' and x != '' else x)

In [124]:
indeed_df['in_state'] = indeed_df['location'].map(lambda x: x.split(',')[1][1:3] if x != 'United States' and x != '' else x)

In [125]:
indeed_df.head()

,title,company,location,description,drop,search_city,search_state,search_title_company,city,in_city,in_state
0,Bioinformatics Data Scientist,GE Corporate,"Niskayuna, NY","As a Data Scientist, you will:. Work with a te...",,Albany,NY,Data+Scientist+GE,Niskayuna,Niskayuna,NY
1,Data Scientist (Data Science R&D),CareerBuilder,"Norcross, GA 30092",Data Scientist (Data Science R&D). The team al...,"$10,000 a year",Atlanta,GA,Data+Scientist+CareerBuilder,Norcross,Norcross,GA
2,Data Scientist-1,NCR,"Duluth, GA 30096",NCR (. About NCR Corporation. NCR only accepts...,,Atlanta,GA,Data+Scientist+NCR,Duluth,Duluth,GA
3,DATA SCIENTIST,Home Depot,"Atlanta, GA 30354",Strong communication and data presentation ski...,,Atlanta,GA,Data+Scientist+The+Home+Depot,Atlanta,Atlanta,GA
4,Data Scientist,Feedzai,"Atlanta, GA",Feedzai is an Equal Opportunity Employer. If y...,,Atlanta,GA,Data+Scientist+Feedzai,Atlanta,Atlanta,GA

In [130]:
indeed_df['city_match'] = (indeed_df['search_city']==indeed_df['in_city'])

In [131]:
indeed_df['state_match'] = ((indeed_df['search_state']==indeed_df['in_state']))

In [135]:
indeed_df['location_match'] = [all(i) for i in zip(indeed_df['city_match'] ,indeed_df['state_match'] )]

In [137]:
indeed_df.location_match.value_counts()

False    825
True     136
Name: location_match, dtype: int64