In [14]:
# import modules

import pandas as pd
import numpy as np

In [15]:
# create a dataframe

data = {'name': ['Jason', 'Molly', 'Tina', 'Jake', 'Amy'], 
        'age': [42, 52, 36, 24, 73], 
        'preTestScore': [4, 24, 31, 2, 3],
        'postTestScore': [25, 94, 57, 62, 70]}
df = pd.DataFrame(data, columns = 
                  ['name', 'age', 'preTestScore', 'postTestScore'])
df

    name  age  preTestScore  postTestScore
0  Jason   42             4             25
1  Molly   52            24             94
2   Tina   36            31             57
3   Jake   24             2             62
4    Amy   73             3             70

In [16]:
# select the preTestScore column
df[['preTestScore']]

   preTestScore
0             4
1            24
2            31
3             2
4             3

In [24]:
# find the standard deviation of preTestScore 
df['preTestScore'].std(ddof=0)

12.221292893961751

In [22]:
np.std(df['preTestScore'])

12.221292893961751

In [18]:
# select rows in preTestScore with scores greater than the mean
# find the mean of preTestScore
df['preTestScore'].mean()

12.8

In [23]:
np.mean(df['preTestScore'])

12.8

In [19]:
# select the rows in preTestScore with scores greater than the mean
df[['preTestScore']][df['preTestScore'] > df['preTestScore'].mean()]

   preTestScore
1            24
2            31

In [20]:
# create a new column that shows the score change from 
# preTestScore to postTestScore
df['change'] = df['postTestScore'] - df['preTestScore']
df

    name  age  preTestScore  postTestScore  change
0  Jason   42             4             25      21
1  Molly   52            24             94      70
2   Tina   36            31             57      26
3   Jake   24             2             62      60
4    Amy   73             3             70      67

In [21]:
df.describe()

             age  preTestScore  postTestScore     change
count   5.000000      5.000000       5.000000   5.000000
mean   45.400000     12.800000      61.600000  48.800000
std    18.460769     13.663821      24.905823  23.445682
min    24.000000      2.000000      25.000000  21.000000
25%    36.000000      3.000000      57.000000  26.000000
50%    42.000000      4.000000      62.000000  60.000000
75%    52.000000     24.000000      70.000000  67.000000
max    73.000000     31.000000      94.000000  70.000000