In [1]:
# import relevant libraries
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import sklearn.linear_model
import sklearn.tree
import sklearn.metrics
import sklearn.feature_selection
import sklearn.ensemble
import sklearn.model_selection

%matplotlib inline

# *Load in the data downloaded from Lending Club* 
*(source: https://www.lendingclub.com/info/download-data.action)*

*There are two datasets, one for rejected loans and for approved loans (and how they performed).*

- *Approved loans are for the period from 2007-2011*
- *Rejected loans are for the period from 2007-2012*

In [22]:
reject_df = pd.read_csv('/Users/joce/learning/data_science/lending-club/RejectStatsA.csv',\
                        low_memory=False, skiprows=1)

In [23]:
loan_df = pd.read_csv('/Users/joce/learning/data_science/lending-club/LoanStats3a.csv',\
                        low_memory=False, skiprows=1)

In [24]:
reject_df.head()

,Amount Requested,Application Date,Loan Title,Risk_Score,Debt-To-Income Ratio,Zip Code,State,Employment Length,Policy Code
0,1000.0,2007-05-26,Wedding Covered but No Honeymoon,693.0,10%,481xx,NM,4 years,0
1,1000.0,2007-05-26,Consolidating Debt,703.0,10%,010xx,MA,< 1 year,0
2,11000.0,2007-05-27,Want to consolidate my debt,715.0,10%,212xx,MD,1 year,0
3,6000.0,2007-05-27,waksman,698.0,38.64%,017xx,MA,< 1 year,0
4,1500.0,2007-05-27,mdrigo,509.0,9.43%,209xx,MD,< 1 year,0

In [5]:
loan_df.head()

,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,...,num_tl_90g_dpd_24m,num_tl_op_past_12m,pct_tl_nvr_dlq,percent_bc_gt_75,pub_rec_bankruptcies,tax_liens,tot_hi_cred_lim,total_bal_ex_mort,total_bc_limit,total_il_high_credit_limit
0,1077501,1296599.0,5000.0,5000.0,4975.0,36 months,10.65%,162.87,B,B2,...,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN
1,1077430,1314167.0,2500.0,2500.0,2500.0,60 months,15.27%,59.83,C,C4,...,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN
2,1077175,1313524.0,2400.0,2400.0,2400.0,36 months,15.96%,84.33,C,C5,...,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN
3,1076863,1277178.0,10000.0,10000.0,10000.0,36 months,13.49%,339.31,C,C1,...,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN
4,1075358,1311748.0,3000.0,3000.0,3000.0,60 months,12.69%,67.79,B,B5,...,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN

*Lending Club also provided us with a data dictionary for the approved loans dataset*

In [21]:
data_dict = pd.read_excel('/Users/joce/learning/data_science/lending-club/LCDataDictionary.xlsx')

In [11]:
data_dict

,LoanStatNew,Description
0,acc_now_delinq,The number of accounts on which the borrower i...
1,acc_open_past_24mths,Number of trades opened in past 24 months.
2,addr_state,The state provided by the borrower in the loan...
3,all_util,Balance to credit limit on all trades
4,annual_inc,The self-reported annual income provided by th...
5,annual_inc_joint,The combined self-reported annual income provi...
6,application_type,Indicates whether the loan is an individual ap...
7,avg_cur_bal,Average current balance of all accounts
8,bc_open_to_buy,Total open to buy on revolving bankcards.
9,bc_util,Ratio of total current balance to high credit/...
10,chargeoff_within_12_mths,Number of charge-offs within 12 months
11,collection_recovery_fee,post charge off collection fee
12,collections_12_mths_ex_med,Number of collections in 12 months excluding m...
13,delinq_2yrs,The number of 30+ days past-due incidences of ...
14,delinq_amnt,The past-due amount owed for the accounts on w...
15,desc,Loan description provided by the borrower
16,dti,A ratio calculated using the borrower’s total ...
17,dti_joint,A ratio calculated using the co-borrowers' tot...
18,earliest_cr_line,The month the borrower's earliest reported cre...
19,emp_length,Employment length in years. Possible values ar...
20,emp_title,The job title supplied by the Borrower when ap...
21,fico_range_high,The upper boundary range the borrower’s FICO a...
22,fico_range_low,The lower boundary range the borrower’s FICO a...
23,funded_amnt,The total amount committed to that loan at tha...
24,funded_amnt_inv,The total amount committed by investors for th...
25,grade,LC assigned loan grade
26,home_ownership,The home ownership status provided by the borr...
27,id,A unique LC assigned ID for the loan listing.
28,il_util,Ratio of total current balance to high credit/...
29,initial_list_status,The initial listing status of the loan. Possib...
...,...,...
87,purpose,A category provided by the borrower for the lo...
88,pymnt_plan,Indicates if a payment plan has been put in pl...
89,recoveries,post charge off gross recovery
90,revol_bal,Total credit revolving balance
91,revol_util,"Revolving line utilization rate, or the amount..."
92,sub_grade,LC assigned loan subgrade
93,tax_liens,Number of tax liens
94,term,The number of payments on the loan. Values are...
95,title,The loan title provided by the borrower
96,tot_coll_amt,Total collection amounts ever owed
97,tot_cur_bal,Total current balance of all accounts
98,tot_hi_cred_lim,Total high credit/credit limit
99,total_acc,The total number of credit lines currently in ...
100,total_bal_ex_mort,Total credit balance excluding mortgage
101,total_bal_il,Total current balance of all installment accounts
102,total_bc_limit,Total bankcard high credit/credit limit
103,total_cu_tl,Number of finance trades
104,total_il_high_credit_limit,Total installment high credit/credit limit
105,total_pymnt,Payments received to date for total amount funded
106,total_pymnt_inv,Payments received to date for portion of total...
107,total_rec_int,Interest received to date
108,total_rec_late_fee,Late fees received to date
109,total_rec_prncp,Principal received to date
110,total_rev_hi_lim,Total revolving high credit/credit limit
111,url,URL for the LC page with listing data.
112,verification_status,"Indicates if income was verified by LC, not ve..."
113,verified_status_joint,Indicates if the co-borrowers' joint income wa...
114,zip_code,The first 3 numbers of the zip code provided b...
115,NaN,NaN
116,NaN,* Employer Title replaces Employer Name for al...

# *Problem Statement*
1. *Can we predict whether a loan application will be approved?*
2. *How well did the approved loans do?*

*To predict loan application approval, we'll need a dataset that has both rejected applications and approved applications.*  

*However, the approved loan dataset has more columns than the rejected loan dataset.*
*We'll need to look at extracting relevant columns from the approved loan dataset so that we can merge it with the rejected loan dataset.*

In [14]:
# Check column names for each of our datasets and look for overlaps
for i in reject_df.columns:
    print i, '|',

Amount Requested | Application Date | Loan Title | Risk_Score | Debt-To-Income Ratio | Zip Code | State | Employment Length | Policy Code |

In [15]:
for i in loan_df.columns:
    print i, '|',

id | member_id | loan_amnt | funded_amnt | funded_amnt_inv | term | int_rate | installment | grade | sub_grade | emp_title | emp_length | home_ownership | annual_inc | verification_status | issue_d | loan_status | pymnt_plan | url | desc | purpose | title | zip_code | addr_state | dti | delinq_2yrs | earliest_cr_line | inq_last_6mths | mths_since_last_delinq | mths_since_last_record | open_acc | pub_rec | revol_bal | revol_util | total_acc | initial_list_status | out_prncp | out_prncp_inv | total_pymnt | total_pymnt_inv | total_rec_prncp | total_rec_int | total_rec_late_fee | recoveries | collection_recovery_fee | last_pymnt_d | last_pymnt_amnt | next_pymnt_d | last_credit_pull_d | collections_12_mths_ex_med | mths_since_last_major_derog | policy_code | application_type | annual_inc_joint | dti_joint | verification_status_joint | acc_now_delinq | tot_coll_amt | tot_cur_bal | open_acc_6m | open_il_6m | open_il_12m | open_il_24m | mths_since_rcnt_il | total_bal_il | il_util | open_rv_12m | open_rv_24m | max_bal_bc | all_util | total_rev_hi_lim | inq_fi | total_cu_tl | inq_last_12m | acc_open_past_24mths | avg_cur_bal | bc_open_to_buy | bc_util | chargeoff_within_12_mths | delinq_amnt | mo_sin_old_il_acct | mo_sin_old_rev_tl_op | mo_sin_rcnt_rev_tl_op | mo_sin_rcnt_tl | mort_acc | mths_since_recent_bc | mths_since_recent_bc_dlq | mths_since_recent_inq | mths_since_recent_revol_delinq | num_accts_ever_120_pd | num_actv_bc_tl | num_actv_rev_tl | num_bc_sats | num_bc_tl | num_il_tl | num_op_rev_tl | num_rev_accts | num_rev_tl_bal_gt_0 | num_sats | num_tl_120dpd_2m | num_tl_30dpd | num_tl_90g_dpd_24m | num_tl_op_past_12m | pct_tl_nvr_dlq | percent_bc_gt_75 | pub_rec_bankruptcies | tax_liens | tot_hi_cred_lim | total_bal_ex_mort | total_bc_limit | total_il_high_credit_limit |

*Comparing the two datasets*

|Rejected|Approved|
|---|---
|Amount reguested| loan_amnt
|Application Date | N.A.
| Loan Title | title
| Risk_Score |N.A.
| Debt-To-Income Ratio| dti 
| Zip Code |zip_code
| State | addr_state
| Employment Length| emp_length
| Policy Code |policy_code

*N.A. denotes that there is no comparable column*