# Getting started

Once you've chosen your scenario, download the data from [the Iowa website](https://data.iowa.gov/Economy/Iowa-Liquor-Sales/m3tr-qhgy) in csv format. Start by loading the data with pandas. You may need to parse the date columns appropriately.

In [273]:
# Import relevant libraries
import pandas as pd
import numpy as np

In [274]:
## Load the data into a DataFrame
df = pd.read_csv('/Users/stel/joce/data_science/project-3-datasets/Iowa_Liquor_sales_sample_10pct.csv')

In [275]:
df.head(3)

,Date,Store Number,City,Zip Code,County Number,County,Category,Category Name,Vendor Number,Item Number,Item Description,Bottle Volume (ml),State Bottle Cost,State Bottle Retail,Bottles Sold,Sale (Dollars),Volume Sold (Liters),Volume Sold (Gallons)
0,11/04/2015,3717,SUMNER,50674,9.0,Bremer,1051100.0,APRICOT BRANDIES,55,54436,Mr. Boston Apricot Brandy,750,$4.50,$6.75,12,$81.00,9.0,2.38
1,03/02/2016,2614,DAVENPORT,52807,82.0,Scott,1011100.0,BLENDED WHISKIES,395,27605,Tin Cup,750,$13.75,$20.63,2,$41.26,1.5,0.40
2,02/11/2016,2106,CEDAR FALLS,50613,7.0,Black Hawk,1011200.0,STRAIGHT BOURBON WHISKIES,65,19067,Jim Beam,1000,$12.59,$18.89,24,$453.36,24.0,6.34

In [298]:
df[['Date', 'State Bottle Cost', 'State Bottle Retail']][df['Item Number']==19067].drop_duplicates()

             Date State Bottle Cost State Bottle Retail
2      2016-02-11            $12.59              $18.89
74     2015-12-16            $12.59              $18.89
423    2015-11-04            $12.59              $18.89
487    2015-11-03            $12.59              $18.89
1346   2015-01-29            $12.08              $18.12
1817   2016-03-09            $12.59              $18.89
2103   2015-10-19            $12.59              $18.89
2365   2015-09-22            $12.59              $18.89
3936   2015-10-15            $12.59              $18.89
4824   2015-04-01            $12.59              $18.89
5575   2015-10-12            $12.59              $18.89
5703   2015-04-13            $12.59              $18.89
6713   2015-12-26            $12.59              $18.89
7260   2015-12-08            $12.59              $18.89
7809   2015-08-13            $12.59              $18.89
9662   2015-12-18            $12.59              $18.89
9681   2016-02-10            $12.59              $18.89
10059  2015-03-31            $12.59              $18.89
10917  2015-04-15            $12.59              $18.89
11410  2015-04-23            $12.59              $18.89
11411  2016-01-19            $12.59              $18.89
12160  2015-01-12            $12.08              $18.12
12161  2015-10-05            $12.59              $18.89
12280  2015-02-03            $12.59              $18.89
12907  2015-09-24            $12.59              $18.89
12987  2015-10-14            $12.59              $18.89
13029  2015-04-06            $12.59              $18.89
13358  2015-08-31            $12.59              $18.89
13825  2015-10-06            $12.59              $18.89
14310  2015-06-16            $12.59              $18.89
...           ...               ...                 ...
190057 2015-04-22            $12.59              $18.89
194629 2015-02-05            $12.59              $18.89
196179 2015-12-07            $12.59              $18.89
196567 2015-11-18            $12.59              $18.89
199599 2016-03-07            $12.59              $18.89
201944 2015-08-17            $12.59              $18.89
202422 2015-06-10            $12.59              $18.89
203217 2015-07-29            $12.59              $18.89
206390 2016-03-23            $12.59              $18.89
206592 2015-02-02            $12.59              $18.89
211378 2016-03-28            $12.59              $18.89
213023 2015-10-21            $12.59              $18.89
215937 2015-02-23            $12.59              $18.89
218595 2015-08-12            $12.59              $18.89
218707 2015-08-19            $12.59              $18.89
220340 2015-03-17            $12.59              $18.89
225322 2015-03-25            $12.59              $18.89
228208 2015-04-29            $12.59              $18.89
230013 2015-09-08            $12.59              $18.89
240870 2016-01-26            $12.59              $18.89
245750 2015-03-23            $12.59              $18.89
247487 2015-06-22            $12.59              $18.89
249479 2015-05-21            $12.59              $18.89
250943 2016-02-16            $12.59              $18.89
260464 2015-03-19            $12.59              $18.89
261787 2015-02-26            $12.59              $18.89
263624 2016-02-17            $12.59              $18.89
264755 2015-10-08            $12.59              $18.89
265881 2015-11-10            $12.59              $18.89
268525 2015-07-09            $12.59              $18.89

[225 rows x 3 columns]

In [277]:
## Transform the dates column
df["Date"] = pd.to_datetime(df["Date"], format='%m/%d/%Y')

In [278]:
df.head(3)

,Date,Store Number,City,Zip Code,County Number,County,Category,Category Name,Vendor Number,Item Number,Item Description,Bottle Volume (ml),State Bottle Cost,State Bottle Retail,Bottles Sold,Sale (Dollars),Volume Sold (Liters),Volume Sold (Gallons)
0,2015-11-04,3717,SUMNER,50674,9.0,Bremer,1051100.0,APRICOT BRANDIES,55,54436,Mr. Boston Apricot Brandy,750,$4.50,$6.75,12,$81.00,9.0,2.38
1,2016-03-02,2614,DAVENPORT,52807,82.0,Scott,1011100.0,BLENDED WHISKIES,395,27605,Tin Cup,750,$13.75,$20.63,2,$41.26,1.5,0.40
2,2016-02-11,2106,CEDAR FALLS,50613,7.0,Black Hawk,1011200.0,STRAIGHT BOURBON WHISKIES,65,19067,Jim Beam,1000,$12.59,$18.89,24,$453.36,24.0,6.34

Columns that we would be interested in:
- Date
- Store number
- City
- Zip code
- County
- Category
- Category name
- Vendor number
- Item number
- Item description
- State bottle cost
- State bottle retail
- Bottles sold
- Sales (dollars)
- Volumes (liters)

In [279]:
df.dtypes

Date                     datetime64[ns]
Store Number                      int64
City                             object
Zip Code                         object
County Number                   float64
County                           object
Category                        float64
Category Name                    object
Vendor Number                     int64
Item Number                       int64
Item Description                 object
Bottle Volume (ml)                int64
State Bottle Cost                object
State Bottle Retail              object
Bottles Sold                      int64
Sale (Dollars)                   object
Volume Sold (Liters)            float64
Volume Sold (Gallons)           float64
dtype: object

In [280]:
# Check for blanks in city

df.City.unique()

array(['SUMNER', 'DAVENPORT', 'CEDAR FALLS', 'AMES', 'BELMOND',
       'CEDAR RAPIDS', 'OTTUMWA', 'CLEAR LAKE', 'BONDURANT', 'SHELLSBURG',
       'WEST DES MOINES', 'OSKALOOSA', 'WEST POINT', 'CORALVILLE',
       'WATERLOO', 'NEWTON', 'TOLEDO', 'SIOUX CENTER', 'MASON CITY',
       'MILFORD', 'IOWA CITY', 'COUNCIL BLUFFS', 'GRIMES', 'KEOKUK',
       'INDIANOLA', 'FORT DODGE', 'DES MOINES', 'HUXLEY', 'LA PORTE CITY',
       'MARION', 'ANKENY', 'DYSART', 'EAGLE GROVE', 'OGDEN', 'MAQUOKETA',
       'CARROLL', 'WEBSTER CITY', 'SIOUX CITY', 'WASHINGTON',
       'CHARLES CITY', 'MANCHESTER', 'SHELDON', 'ALTOONA', 'STORM LAKE',
       'GRUNDY CENTER', 'SPIRIT LAKE', 'DUBUQUE', 'STUART', 'SCHLESWIG',
       'MOUNT PLEASANT', 'GUTHRIE CENTER', 'FORT ATKINSON', 'SPENCER',
       'MUSCATINE', 'LENOX', 'MISSOURI VALLEY', 'IOWA FALLS', 'ALGONA',
       'WAUKEE', 'LECLAIRE', 'LAMONI', 'CLINTON', 'PARKERSBURG',
       'BURLINGTON', 'DUNLAP', 'ORANGE CITY', 'MANNING', 'LOHRVILLE',
       'JOHNSTON', 'OELWEIN', 'MONTICELLO', 'BRITT', 'BELLE PLAINE',
       'WILLIAMSBURG', 'NEVADA', 'ADEL', 'CRESCO', 'CENTERVILLE',
       'FAIRFIELD', 'ESTHERVILLE', 'MARSHALLTOWN', 'WILTON', 'SHENANDOAH',
       'STANWOOD', 'CORNING', 'SAC CITY', 'PLEASANT HILL', 'CLIVE',
       'EVANSDALE', 'ONAWA', 'TIFFIN', 'DECORAH', 'PERRY', 'WELLMAN',
       'WAUKON', 'ELKADER', 'LAKE MILLS', 'TRIPOLI', 'BOONE', 'BAXTER',
       'GRINNELL', 'PELLA', 'ANAMOSA', 'NORTH LIBERTY', 'INDEPENDENCE',
       'HAMPTON', 'MEDIAPOLIS', 'CHEROKEE', 'HUMBOLDT', 'MONONA',
       'JEFFERSON', 'WINDSOR HEIGHTS', 'WEST BURLINGTON', 'URBANDALE',
       'OTTUWMA', 'KNOXVILLE', 'BETTENDORF', 'ANTHON', 'SIGOURNEY',
       'FOREST CITY', 'LEMARS', 'STORY CITY', 'ROCK VALLEY', 'HARLAN',
       'WAVERLY', 'ALDEN', 'CLARKSVILLE', 'OSCEOLA', 'LE CLAIRE',
       'MONTEZUMA', 'FAIRFAX', 'MELCHER-DALLAS', 'ARNOLDS PARK', 'DENISON',
       'ELDRIDGE', 'EMMETSBURG', 'MAPLETON', 'ATLANTIC', 'KINGSLEY',
       'WEST LIBERTY', 'LOGAN', 'LARCHWOOD', 'GARNER', 'MADRID', 'URBANA',
       'FORT MADISON', 'DELAWARE', 'MT VERNON', 'ROCK RAPIDS', 'LAURENS',
       'CASCADE', 'HOLSTEIN', 'RAYMOND', 'MARENGO', 'TIPTON', 'CRESTON',
       'SERGEANT BLUFF', 'HAMBURG', 'RED OAK', 'MT PLEASANT', 'DOWS',
       'COLUMBUS JUNCTION', 'CONRAD', 'EDDYVILLE', 'FONTANELLE',
       'PRAIRIE CITY', 'WEST BRANCH', 'SANBORN', 'OSAGE', 'DENVER',
       'ELDORA', 'PACIFIC JUNCTION', 'WINTERSET', 'POLK CITY',
       'MOUNT VERNON', 'CLARINDA', 'GEORGE', 'HAWARDEN', 'ELMA',
       'BLOOMFIELD', 'CHARITON', 'BROOKLYN', 'JESUP', 'MONROE', 'SOLON',
       'BELLEVUE', 'OAKLAND', 'LAKE CITY', 'DURANT', 'STRAWBERRY POINT',
       'GREENFIELD', 'POCAHONTAS', 'WAPELLO', 'CAMBRIDGE', 'DYERSVILLE',
       'IDA GROVE', 'ELLSWORTH', 'GUTTENBURG', 'EXIRA', 'CORYDON',
       'ST ANSGAR', 'NORWALK', 'PRIMGHAR', 'LANSING', 'LE GRAND',
       'LAKE PARK', 'NEW SHARON', 'ACKLEY', 'VINTON', 'SUTHERLAND',
       'STRATFORD', 'LE MARS', 'WESLEY', 'AVOCA', 'GRANGER',
       "ARNOLD'S PARK", 'SIBLEY', 'NEW HAMPTON', 'FARMINGTON',
       'WEST UNION', 'NORTHWOOD', 'CARTER LAKE', 'ALBIA', 'BUFFALO CENTER',
       'BLUE GRASS', 'BANCROFT', 'GREENE', 'WALNUT', 'DELMAR', 'MALVERN',
       'HIAWATHA', 'GRAND JUNCTION', 'GLENWOOD', 'COLFAX', 'PEOSTA',
       'FLOYD', 'DUMONT', 'COON RAPIDS', 'PANORA', 'MONTROSE',
       'SIOUX RAPIDS', 'CLARION', 'RIVERSIDE', 'BEVINGTON', 'LISBON',
       'FREDERICKSBURG', 'KEOTA', 'DE SOTO', 'FAIRBANK', 'KEOSAUQUA',
       'HARTLEY', 'PLEASANTVILLE', 'CENTER POINT', 'MANSON', 'DANVILLE',
       'WEST BEND', 'ELY', 'KELLOGG', 'OKOBOJI', 'Dubuque', 'DAKOTA CITY',
       'POSTVILLE', 'LAWLER', 'GUTTENBERG', 'HARPERS FERRY', 'Northwood',
       'SWISHER', 'LAKE VIEW', 'PAULLINA', 'EDGEWOOD', 'CENTRAL CITY',
       'AKRON', 'ALLISON', 'LEON', 'AFTON', 'VICTOR', 'INWOOD',
       'SHEFFIELD', 'GOWRIE', 'GLIDDEN', 'HUDSON', 'GRAND MOUND',
       'GILMORE CITY', 'TRAER', 'BEDFORD', 'FAYETTE', 'ELDON', 'WOODWARD',
       'NASHUA', 'NEOLA', 'GRAETTINGER', 'STATE CENTER', 'SLOAN',
       'ROCKWELL', 'PRINCETON', 'SCRANTON', 'ZWINGLE', 'ADAIR', 'CAMANCHE',
       'ROLFE', 'WOODBINE', 'SLATER', 'MOUNT AYR', 'AUDUBON', 'VILLISCA',
       'LOVILIA', 'EARLY', 'HUBBARD', 'CARLISLE', 'BUFFALO', 'ANITA',
       'WINTHROP', 'DONNELLSON', 'HOLY CROSS', 'Urbandale', 'PALO',
       'IRETON', 'HAZLETON', 'CRESCENT', 'ROCKWELL CITY', 'REMSEN',
       'Des Moines', 'ARLINGTON', 'MECHANICSVILLE', 'DEWITT', 'REINBECK',
       'RUTHVEN', 'SULLY', 'SPRINGVILLE', 'GLADBROOK', 'LOST NATION',
       'EVERLY', 'NORA SPRINGS', 'COLO', 'ST CHARLES', 'DAYTON', 'BALDWIN',
       'SWEA CITY', 'MAXWELL', 'CASEY', 'EARLHAM', 'BUSSEY', 'VAN METER',
       'Inwood', 'WELLSBURG', 'NORTH ENGLISH', 'MORAVIA', 'KELLOG',
       'RICEVILLE', 'MARCUS', 'JEWELL', 'HOSPERS', 'WALL LAKE', 'FARLEY',
       'TREYNOR', 'DELHI', 'NEW VIRGINIA', 'MARTENSDALE', 'HUMESTON',
       'WHEATLAND', 'ST LUCAS', 'MANLY', 'SCHALLER', 'LATIMER', 'WASHBURN',
       'Cumming', 'GILBERTVILLE', 'WALFORD', 'WALKER', 'OTHO', 'ALTA',
       'ARMSTRONG', 'MINDEN', 'TABOR', 'FONDA', 'AURELIA', 'CORWITH',
       'SEYMOUR', 'ROBINS', 'GOLDFIELD', 'GRISWOLD', 'MERRILL',
       'MELBOURNE', 'Carroll', 'RUNNELLS'], dtype=object)

In [281]:
# Zip code should be integers

# Find the entries which are causing the type to be forced to object
# We may have to do this a few times, so we'll define a function that takes a column name to do it
def find_non_int(col):
    non_int = []
    for i in df[col]:
        try:
            int(i)
        except:
            if i not in non_int:
                non_int.append(i)
    non_int = pd.Series(non_int)
    return non_int.value_counts(dropna=False)
print find_non_int('Zip Code')

712-2    1
dtype: int64

In [282]:
# Find the cities that have '712-2' as the zip code

df['City'][df['Zip Code'] == '712-2'].value_counts()

DUNLAP    217
Name: City, dtype: int64

In [283]:
# Find the corresponding zip codes and counties for entries with 'DUNLAP' as city
print df['Zip Code'][df['City'] == 'DUNLAP'].value_counts()
print df['County'][df['City'] == 'DUNLAP'].value_counts()
print df['County Number'][df['City'] == 'DUNLAP'].value_counts()

712-2    217
Name: Zip Code, dtype: int64
Harrison    186
Name: County, dtype: int64
43.0    186
Name: County Number, dtype: int64

Based on [Wikipedia](https://en.wikipedia.org/wiki/Dunlap,_Iowa),

> Dunlap is a city in Harrison County, Iowa, United States, along the Boyer River.

> County: Harrison

> Zip code: 51529

In [284]:
# For all entries with 'DUNLAP' as city
# Set zip code as 51529
df.ix[df['City']=='DUNLAP', 'Zip Code'] = '51529'

# Set county as Harrison
df.ix[df['City']=='DUNLAP', 'County'] = 'Harrison'

# Set county number as 43.0
df.ix[df['City']=='DUNLAP', 'County Number'] = 43.0

In [285]:
# Now change zip code to integers
df['Zip Code'] = df['Zip Code'].astype(int)

In [286]:
df.dtypes

Date                     datetime64[ns]
Store Number                      int64
City                             object
Zip Code                          int64
County Number                   float64
County                           object
Category                        float64
Category Name                    object
Vendor Number                     int64
Item Number                       int64
Item Description                 object
Bottle Volume (ml)                int64
State Bottle Cost                object
State Bottle Retail              object
Bottles Sold                      int64
Sale (Dollars)                   object
Volume Sold (Liters)            float64
Volume Sold (Gallons)           float64
dtype: object

In [287]:
# Counties are null for some entries
# Let's look at zip codes
null_county_zips = df['Zip Code'][df['County'].isnull()].unique()
null_county_zips

array([52402, 51103, 50707, 52205, 50677, 50441, 50421, 52241, 52804,
       52732, 50211, 51632, 52317, 50225, 50009, 50401, 50022, 50049,
       52136, 50483, 52802, 50601, 50469, 51537, 50703, 50317, 52358,
       52003, 52404, 51653, 50025, 52590, 51241, 50213, 52591, 50237, 50501])

In [288]:
zip_county = {}
for i in df['Zip Code'].drop_duplicates():
    zip_county[i] = [df['County'][df['Zip Code']==i].unique().tolist()[0]][0]

In [289]:
for i in zip_county:
    if type(zip_county[i]) == float:
        print i, zip_county[i]

51653 nan
50237 nan
52590 nan
50677 nan
51103 nan

In [293]:
df['County'][df['Zip Code']==51632].unique().tolist()[0]

'Clayton'

In [259]:
# We'll edit the counties manually for those which do not have a value elsewhere in the dataset
# or where the zip straddles 2 counties
zip_county[50237] = 'Polk'
zip_county[51653] = 'Fremont'
zip_county[52590] = 'Wayne'
zip_county[50677] = 'Bremer'
zip_county[51103] = 'Woodbury'
zip_county[51632] = 'Page'

In [256]:
zip_county

{50002: 'Adair',
 50003: 'Dallas',
 50006: 'Hardin',
 50009: 'Polk',
 50010: 'Story',
 50014: 'Story',
 50020: 'Cass',
 50021: 'Polk',
 50022: 'Cass',
 50023: 'Polk',
 50025: 'Audubon',
 50028: 'Jasper',
 50033: 'Madison',
 50035: 'Polk',
 50036: 'Boone',
 50044: 'Marion',
 50046: 'Polk',
 50047: 'Warren',
 50048: 'Guthrie',
 50049: 'Lucas',
 50054: 'Jasper',
 50056: 'Story',
 50058: 'Carroll',
 50060: 'Wayne',
 50061: 'Warren',
 50069: 'Dallas',
 50071: 'Wright',
 50072: 'Madison',
 50075: 'Hamilton',
 50076: 'Audubon',
 50107: 'Greene',
 50109: 'Dallas',
 50111: 'Polk',
 50112: 'Poweshiek',
 50115: 'Guthrie',
 50122: 'Hardin',
 50123: 'Wayne',
 50124: 'Story',
 50125: 'Warren',
 50126: 'Hardin',
 50129: 'Linn',
 50130: 'Hamilton',
 50131: 'Polk',
 50135: 'Jasper',
 50136: 'Jasper',
 50138: 'Marion',
 50140: 'Decatur',
 50142: 'Marshall',
 50144: 'Decatur',
 50150: 'Monroe',
 50156: 'Boone',
 50158: 'Marshall',
 50160: 'Warren',
 50161: 'Story',
 50162: 'Marshall',
 50163: 'Marion',
 50170: 'Jasper',
 50171: 'Poweshiek',
 50201: 'Story',
 50207: 'Mahaska',
 50208: 'Jasper',
 50210: 'Warren',
 50211: 'Warren',
 50212: 'Boone',
 50213: 'Clarke',
 50216: 'Guthrie',
 50219: 'Marion',
 50220: 'Dallas',
 50225: 'Marion',
 50226: 'Polk',
 50228: 'Jasper',
 50237: 'Polk',
 50240: 'Madison',
 50244: 'Story',
 50247: 'Iowa',
 50248: 'Story',
 50249: 'Hamilton',
 50250: 'Adair',
 50251: 'Jasper',
 50261: 'Dallas',
 50263: 'Dallas',
 50265: 'Polk',
 50266: 'Polk',
 50273: 'Madison',
 50276: 'Dallas',
 50300: 'Polk',
 50309: 'Polk',
 50310: 'Polk',
 50311: 'Polk',
 50312: 'Polk',
 50313: 'Polk',
 50314: 'Polk',
 50315: 'Polk',
 50316: 'Polk',
 50317: 'Polk',
 50320: 'Polk',
 50321: 'Polk',
 50322: 'Polk',
 50323: 'Polk',
 50324: 'Polk',
 50325: 'Polk',
 50327: 'Polk',
 50401: 'Cerro Gordo',
 50421: 'Wright',
 50423: 'Hancock',
 50424: 'Winnebago',
 50428: 'Cerro Gordo',
 50430: 'Hancock',
 50435: 'Floyd',
 50436: 'Winnebago',
 50438: 'Hancock',
 50441: 'Franklin',
 50450: 'Winnebago',
 50452: 'Franklin',
 50456: 'Worth',
 50458: 'Floyd',
 50459: 'Worth',
 50461: 'Mitchell',
 50466: 'Mitchell',
 50469: 'Cerro Gordo',
 50472: 'Mitchell',
 50475: 'Franklin',
 50483: 'Kossuth',
 50501: 'Webster',
 50511: 'Kossuth',
 50514: 'Emmet',
 50517: 'Kossuth',
 50525: 'Wright',
 50529: 'Humboldt',
 50530: 'Webster',
 50533: 'Wright',
 50535: 'Sac',
 50536: 'Palo Alto',
 50540: 'Pocahontas',
 50541: 'Humboldt',
 50542: 'Wright',
 50543: 'Webster',
 50548: 'Humboldt',
 50554: 'Pocahontas',
 50563: 'Calhoun',
 50569: 'Webster',
 50574: 'Pocahontas',
 50579: 'Calhoun',
 50581: 'Pocahontas',
 50583: 'Sac',
 50585: 'Buena Vista',
 50588: 'Buena Vista',
 50590: 'Kossuth',
 50595: 'Hamilton',
 50597: 'Kossuth',
 50601: 'Hardin',
 50602: 'Butler',
 50606: 'Fayette',
 50613: 'Black Hawk',
 50616: 'Floyd',
 50619: 'Butler',
 50621: 'Grundy',
 50622: 'Bremer',
 50627: 'Hardin',
 50628: 'Howard',
 50629: 'Buchanan',
 50630: 'Chickasaw',
 50634: 'Black Hawk',
 50635: 'Iowa',
 50636: 'Butler',
 50638: 'Grundy',
 50641: 'Buchanan',
 50643: 'Black Hawk',
 50644: 'Buchanan',
 50647: 'Black Hawk',
 50648: 'Buchanan',
 50651: 'Black Hawk',
 50658: 'Chickasaw',
 50659: 'Chickasaw',
 50662: 'Fayette',
 50665: 'Butler',
 50667: 'Black Hawk',
 50669: 'Grundy',
 50674: 'Bremer',
 50675: 'Tama',
 50676: 'Bremer',
 50677: 'Bremer',
 50680: 'Grundy',
 50682: 'Buchanan',
 50701: 'Black Hawk',
 50702: 'Black Hawk',
 50703: 'Black Hawk',
 50707: 'Black Hawk',
 50801: 'Union',
 50830: 'Union',
 50833: 'Taylor',
 50841: 'Adams',
 50846: 'Adair',
 50849: 'Adair',
 50851: 'Taylor',
 50854: 'Ringgold',
 50864: 'Montgomery',
 51001: 'Plymouth',
 51002: 'Buena Vista',
 51004: 'Woodbury',
 51005: 'Cherokee',
 51012: 'Cherokee',
 51023: 'Sioux',
 51025: 'Ida',
 51027: 'Sioux',
 51028: 'Plymouth',
 51031: 'Plymouth',
 51034: 'Monona',
 51035: 'Cherokee',
 51038: 'Plymouth',
 51040: 'Monona',
 51041: 'Sioux',
 51046: "O'Brien",
 51050: 'Plymouth',
 51053: 'Sac',
 51054: 'Woodbury',
 51055: 'Woodbury',
 51058: "O'Brien",
 51101: 'Woodbury',
 51103: 'Woodbury',
 51104: 'Woodbury',
 51105: 'Woodbury',
 51106: 'Woodbury',
 51108: 'Woodbury',
 51109: 'Woodbury',
 51201: "O'Brien",
 51237: 'Lyon',
 51238: 'Sioux',
 51240: 'Lyon',
 51241: 'Lyon',
 51245: "O'Brien",
 51246: 'Lyon',
 51247: 'Sioux',
 51248: "O'Brien",
 51249: 'Osceola',
 51250: 'Sioux',
 51301: 'Clay',
 51331: 'Dickinson',
 51334: 'Emmet',
 51338: 'Clay',
 51342: 'Palo Alto',
 51346: "O'Brien",
 51347: 'Dickinson',
 51351: 'Dickinson',
 51355: 'Dickinson',
 51358: 'Palo Alto',
 51360: 'Dickinson',
 51401: 'Carroll',
 51442: 'Crawford',
 51443: 'Carroll',
 51445: 'Ida',
 51449: 'Calhoun',
 51450: 'Sac',
 51453: 'Calhoun',
 51455: 'Carroll',
 51461: 'Crawford',
 51462: 'Greene',
 51466: 'Sac',
 51501: 'Pottawattamie',
 51503: 'Pottawattamie',
 51510: 'Pottawattamie',
 51521: 'Pottawattamie',
 51526: 'Pottawattamie',
 51529: 'Harrison',
 51530: 'Pottawattamie',
 51534: 'Mills',
 51535: 'Cass',
 51537: 'Shelby',
 51546: 'Harrison',
 51551: 'Mills',
 51553: 'Pottawattamie',
 51555: 'Harrison',
 51559: 'Pottawattamie',
 51560: 'Pottawattamie',
 51561: 'Mills',
 51566: 'Montgomery',
 51575: 'Pottawattamie',
 51577: 'Pottawattamie',
 51579: 'Harrison',
 51601: 'Page',
 51632: 'Page',
 51640: 'Fremont',
 51653: 'Fremont',
 52001: 'Dubuque',
 52002: 'Dubuque',
 52003: 'Dubuque',
 52031: 'Jackson',
 52033: 'Dubuque',
 52036: 'Delaware',
 52037: 'Clinton',
 52040: 'Dubuque',
 52042: 'Clayton',
 52043: 'Clayton',
 52046: 'Dubuque',
 52052: 'Clayton',
 52053: 'Dubuque',
 52057: 'Delaware',
 52060: 'Jackson',
 52068: 'Dubuque',
 52076: 'Clayton',
 52079: 'Jackson',
 52084: 'Scott',
 52087: 'Delaware',
 52101: 'Winneshiek',
 52136: 'Howard',
 52142: 'Fayette',
 52144: 'Winneshiek',
 52146: 'Allamakee',
 52151: 'Allamakee',
 52154: 'Chickasaw',
 52159: 'Clayton',
 52162: 'Allamakee',
 52166: 'Fayette',
 52172: 'Allamakee',
 52175: 'Fayette',
 52205: 'Jones',
 52207: 'Jackson',
 52208: 'Benton',
 52211: 'Poweshiek',
 52213: 'Linn',
 52214: 'Linn',
 52223: 'Delaware',
 52224: 'Tama',
 52227: 'Linn',
 52228: 'Linn',
 52233: 'Linn',
 52240: 'Johnson',
 52241: 'Johnson',
 52245: 'Johnson',
 52246: 'Johnson',
 52248: 'Keokuk',
 52253: 'Linn',
 52254: 'Clinton',
 52301: 'Iowa',
 52302: 'Linn',
 52303: 'Linn',
 52306: 'Cedar',
 52310: 'Jones',
 52314: 'Linn',
 52316: 'Iowa',
 52317: 'Johnson',
 52324: 'Linn',
 52327: 'Washington',
 52328: 'Linn',
 52332: 'Benton',
 52333: 'Johnson',
 52336: 'Linn',
 52337: 'Cedar',
 52338: 'Johnson',
 52340: 'Johnson',
 52342: 'Tama',
 52345: 'Benton',
 52347: 'Poweshiek',
 52349: 'Benton',
 52351: 'Linn',
 52352: 'Linn',
 52353: 'Washington',
 52356: 'Wapello',
 52358: 'Cedar',
 52361: 'Iowa',
 52401: 'Linn',
 52402: 'Linn',
 52403: 'Linn',
 52404: 'Linn',
 52405: 'Linn',
 52411: 'Linn',
 52501: 'Wapello',
 52531: 'Monroe',
 52537: 'Davis',
 52544: 'Appanoose',
 52553: 'Wapello',
 52554: 'Wapello',
 52556: 'Jefferson',
 52565: 'Van Buren',
 52571: 'Appanoose',
 52577: 'Mahaska',
 52590: 'Wayne',
 52591: 'Keokuk',
 52601: 'Des Moines',
 52623: 'Des Moines',
 52625: 'Lee',
 52626: 'Van Buren',
 52627: 'Lee',
 52632: 'Lee',
 52637: 'Des Moines',
 52639: 'Lee',
 52641: 'Henry',
 52653: 'Louisa',
 52655: 'Des Moines',
 52656: 'Lee',
 52722: 'Scott',
 52726: 'Scott',
 52728: 'Scott',
 52730: 'Clinton',
 52732: 'Clinton',
 52733: 'Clinton',
 52738: 'Louisa',
 52742: 'Clinton',
 52747: 'Cedar',
 52748: 'Scott',
 52751: 'Clinton',
 52753: 'Scott',
 52761: 'Muscatine',
 52768: 'Scott',
 52772: 'Cedar',
 52776: 'Muscatine',
 52777: 'Clinton',
 52778: 'Muscatine',
 52801: 'Scott',
 52802: 'Scott',
 52803: 'Scott',
 52804: 'Scott',
 52806: 'Scott',
 52807: 'Scott',
 56201: 'Des Moines'}

In [252]:
for k, v in zip_county.items():
    zip_county[k] = [v, ]

In [239]:
df['City'][df['Zip Code']==51632]

187        CORNING
544        CORNING
888       CLARINDA
890        CORNING
948       CLARINDA
1381      CLARINDA
1433       CORNING
1602      CLARINDA
1670      CLARINDA
2278      CLARINDA
2474      CLARINDA
2549      CLARINDA
2678      CLARINDA
3009       CORNING
3479      CLARINDA
3598      CLARINDA
4176      CLARINDA
4228       CORNING
4829      CLARINDA
5099      CLARINDA
5250       CORNING
5949       CORNING
6727      CLARINDA
6944      CLARINDA
7531       CORNING
7752       CORNING
7916      CLARINDA
8191      CLARINDA
8337      CLARINDA
8575      CLARINDA
            ...
260445    CLARINDA
260527    CLARINDA
260730    CLARINDA
261631    CLARINDA
261934    CLARINDA
262908     CORNING
263029     CORNING
263063     CORNING
263093     CORNING
263305    CLARINDA
263730    CLARINDA
263846    CLARINDA
263948    CLARINDA
264391    CLARINDA
265238     CORNING
265273    CLARINDA
265713    CLARINDA
265751    CLARINDA
265765    CLARINDA
267070    CLARINDA
267814    CLARINDA
267844     CORNING
268166    CLARINDA
268184     CORNING
268669    CLARINDA
268879    CLARINDA
269482    CLARINDA
269820    CLARINDA
269917    CLARINDA
270109    CLARINDA
Name: City, dtype: object

In [229]:
df['County'] = df['Zip Code'].map(zip_county)

In [163]:
df[df['County'].isnull()]

Empty DataFrame
Columns: [Date, Store Number, City, Zip Code, County Number, County, Category, Category Name, Vendor Number, Item Number, Item Description, Bottle Volume (ml), State Bottle Cost, State Bottle Retail, Bottles Sold, Sale (Dollars), Volume Sold (Liters), Volume Sold (Gallons)]
Index: []


# Explore the data

Perform some exploratory statistical analysis and make some plots, such as histograms of transaction totals, bottles sold, etc.

In [4]:
import seaborn as sns
import matplotlib.pyplot as plt

## Record your findings

Be sure to write out anything observations from your exploratory analysis.

# Mine the data
Now you are ready to compute the variables you will use for your regression from the data. For example, you may want to
compute total sales per store from Jan to March of 2015, mean price per bottle, etc. Refer to the readme for more ideas appropriate to your scenario.

Pandas is your friend for this task. Take a look at the operations [here](http://pandas.pydata.org/pandas-docs/stable/groupby.html) for ideas on how to make the best use of pandas and feel free to search for blog and Stack Overflow posts to help you group data by certain variables and compute sums, means, etc. You may find it useful to create a new data frame to house this summary data.

# Refine the data
Look for any statistical relationships, correlations, or other relevant properties of the dataset.

# Build your models

Using scikit-learn or statsmodels, build the necessary models for your scenario. Evaluate model fit.

In [6]:
from sklearn import linear_model

## Plot your results

Again make sure that you record any valuable information. For example, in the tax scenario, did you find the sales from the first three months of the year to be a good predictor of the total sales for the year? Plot the predictions versus the true values and discuss the successes and limitations of your models

# Present the Results

Present your conclusions and results. If you have more than one interesting model feel free to include more than one along with a discussion. Use your work in this notebook to prepare your write-up.