<img src="https://ga-dash.s3.amazonaws.com/production/assets/logo-9f88ae6c9c3871690e33280fcf557f33.png" style="float: left; margin: 10px">



# Individual Coding Challenge
Week 5 | Day 3

There are a series of exercises in this notebook that you will need to perform. This challenge to be done individually - without help from either fellow students or the instructors. You are free to use the documention or any online resources you choose. You will have one hour to complete this workbook. If you get stuck on one question keep moving.

It must be submitted before 11.30 AM via a Slack DM or email to me (@winston / winston.featherly-bean@ga.co). 

#### - NO LATE ENTRIES WILL BE ACCEPTED - 

The Slack timestamp of submission will be definitive.

### 1. Without using any external libraries (e.g. numpy, pandas), create a list of integers at least 10 elements long and calculate: a) the mean, b) the standard deviation

In [1]:
list_int = range(3,50,4)
list_int = list_int[:10]
len(list_int)

10

In [4]:
def get_mean(l):
    return float(sum(l))/len(l)

In [5]:
print get_mean(list_int)

21.0

In [11]:
def get_std(l):
    m = get_mean(l)
    v = get_mean([(float(x)-m)**2 for x in l])
    return v ** 0.5

In [12]:
print get_std(list_int)

11.4891252931

### 2. Write code that prompts the user for a name, then returns the associated phone number from this dictionary:


`{"Jerry" : "212-555-3015",
"Elaine" : "212-683-5555",
"Kramer" : "212-555-0804",
"George" : "646-111-0000",
"Newman" : "917-666-6666"
}`

E.g. you should see an output like:

`Who do you want to call? Jerry
212-555-3015`

In [16]:
phone = {"Jerry" : "212-555-3015",\
         "Elaine" : "212-683-5555",\
         "Kramer" : "212-555-0804",\
         "George" : "646-111-0000",\
         "Newman" : "917-666-6666"}

In [21]:
name = raw_input('Whose number do you need? ')
if name.title() in phone.keys():
    print phone[name.title()]
else:
    print "Unknown contact"

Whose number do you need? jerry
212-555-3015

### 3. Define a function that accepts a string, converts its alphabetical characters to lower case, removes trailing or leading whitespace, and returns the result.

E.g. `"hello this is a test   "` should return `['hello', 'this', 'is', 'a', 'test']`

In [74]:
def get_list_from_string(s):
    s2 = [i.lower().strip() for i in s.strip().split(' ') if type(i)==str]
    return s2

In [75]:
print get_list_from_string("hello this is a test   ")

['hello', 'this', 'is', 'a', 'test']

### 4. Write a program that prints the numbers from 1 to 100. But for multiples of three print “Buzz” instead of the number and for the multiples of five print "Fizz”. For numbers which are multiples of both three and five print “BuzzFizz” 

For example, the numbers 8-15 look like: ... 8 Buzz 9 Fizz 11 Buzz 13 14 BuzzFizz ...

In [29]:
def fizzbuzz(start, stop):
    for i in range(start, stop+1,1):
        if i % 3 == 0 and i % 5 == 0:
            print 'BuzzFizz',
        elif i % 3 == 0:
            print 'Buzz',
        elif i % 5 == 0:
            print 'Fizz',
        else:
            print i,

In [30]:
fizzbuzz(1,100)

1 2 Buzz 4 Fizz Buzz 7 8 Buzz Fizz 11 Buzz 13 14 BuzzFizz 16 17 Buzz 19 Fizz Buzz 22 23 Buzz Fizz 26 Buzz 28 29 BuzzFizz 31 32 Buzz 34 Fizz Buzz 37 38 Buzz Fizz 41 Buzz 43 44 BuzzFizz 46 47 Buzz 49 Fizz Buzz 52 53 Buzz Fizz 56 Buzz 58 59 BuzzFizz 61 62 Buzz 64 Fizz Buzz 67 68 Buzz Fizz 71 Buzz 73 74 BuzzFizz 76 77 Buzz 79 Fizz Buzz 82 83 Buzz Fizz 86 Buzz 88 89 BuzzFizz 91 92 Buzz 94 Fizz Buzz 97 98 Buzz Fizz

### 5. Using the `requests` library and a for- or while- loop, send 5 HTTP GET requests to google.com (or another site of your choice). For each result, select the value of the 'Date' header and split its elements into a list. Print the `hour:minute:second` elements of these lists.

E.g.:

`
13:35:11
13:35:12
13:35:12
13:35:12
13:35:12
`

In [31]:
import requests

In [78]:
for i in range(5):
    r = requests.get("https://www.google.com/")
    date = r.headers['Date']
    date_list = date.split(' ')
    time = date_list[4]
    print time

15:12:27
15:12:27
15:12:28
15:12:28
15:12:28

(I seem to be in the wrong time zone.)

### 6. Define a function that prints out a box of x,y dimensions using the '-' and '|' characters
E.g. if your function gets the inputs x=3, y =2, it should print out:

```
---
| |
| |
---
```

In [79]:
def draw_box(x, y):
    if x > 1:
        print '-'*x
        for i in range(y):
            print '|'+' '*(x-2)+ '|'
        print '-'*x
    else:
        print ' - '
        for i in range(y):
            print '|'+' '*(x)+ '|'
        print ' - '

In [80]:
draw_box(5,4)

-----
|   |
|   |
|   |
|   |
-----

### 7. Write a function that returns the value at any (column, row) location of [Pascal's triangle](https://en.wikipedia.org/wiki/Pascal%27s_triangle) (not easy!).

E.g. pascal(1,2) would return 2 from the structure. Note that this is 0-indexed:


```
     1
    1 1
   1 2 1
  1 3 3 1
 1 4 6 4 1
```
 
Explain your solution with comments in the code.

In [81]:
# Pascal Triangle: Each element (column, row) is 
# the sum of the element right above it (column, row-1) and the element to the left of that (column-1, row-1)
def get_pascal(col, row):
    # In a Pascal Triangle, the nth row has n elements (i.e. n columns)
    # If you're in a column that is bigger than a row
    # you're outside the Triangle, and the value is considered a 0 (for this formula to work)
    if col > row:
        return 0
    # If you have a valid row and column (i.e. column smaller or equal to row)
    else:
        # If you're in the first column or first two rows, the number is always 1
        if col == 0 or row == 0 or row == 1:
            return 1
        # If you're not in the first column or first two rows
        # then your value is found by finding
        # the value right above you
        # and the value diagonally to the left above you
        # i.e. you call this function recursively (over and over again)
        # until you reach either column 1 or row 1 or row 2
        # then the function builds up from there
        else:
            return get_pascal(col-1, row-1)+get_pascal(col, row-1)

In [82]:
get_pascal(4,6)

15