# ![](https://ga-dash.s3.amazonaws.com/production/assets/logo-9f88ae6c9c3871690e33280fcf557f33.png) Pandas & Pivot Tables

Week 2 | Day 3

### LEARNING OBJECTIVES
*After this lesson, you will be able to:*
- Use pandas.pivot_table
- Use the parameters: values, columns, index, aggfunc, and margins

## How many of you have used an Excel pivot table?

![](http://cdn.get-digital-help.com/wp-content/uploads/2012/03/pivot-table-basics-final2.gif)

## Pivot tables allow for the manipulation and transformation of data through aggregation

## Let's see an example

In [1]:
# first we import pandas
import pandas as pd

# next, we load the csv and save to a DataFrame
df = pd.read_csv('https://raw.githubusercontent.com/mwaskom/seaborn-data/master/tips.csv')

# we view the first 5 rows
df.head()

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3
3       23.68  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4

#### What are some questions we might ask of this data?

## Questions we might ask

1. What is the average tip of a smoker vs. a non-smoker?
2. Male vs. female?
3. What is the average tip by the day of the week?
4. How many male smokers vs. female in this set?

- what is the average spending per customer and how can you tweak your menu
- does the size of the dinner party affter the tip amount

## Pivot tables allow us to answer all of these and more!
<br>
![](http://i.imgur.com/YsbKHg1.gif)

## Question 1: What is the average tip by smoking status?

In [2]:
pd.pivot_table(df, index='smoker', values='tip')

smoker
No     2.991854
Yes    3.008710
Name: tip, dtype: float64

We can see that we passed our DataFrame, an 'index', and a 'values' parameter. This automatically gave us the mean tip by unique smoking class.

## Question 2: What is the average tip by sex?

In [3]:
pd.pivot_table(df, index='sex', values='tip')

sex
Female    2.833448
Male      3.089618
Name: tip, dtype: float64

We simply changed the index.

## What if we want to see the average size of the party as well?

In [5]:
pd.pivot_table(df, index='sex', values=['tip', 'size'])

            size       tip
sex
Female  2.459770  2.833448
Male    2.630573  3.089618

We just pass in the list of the features we want to see the mean of.

## Can we see the breakdown by sex and smoking status?

In [6]:
pd.pivot_table(df, index=['sex', 'smoker'], values=['tip', 'size'])

                   size       tip
sex    smoker
Female No      2.592593  2.773519
       Yes     2.242424  2.931515
Male   No      2.711340  3.113402
       Yes     2.500000  3.051167

Why, yes. Yes, we can.

## What about by day of the week?

In [11]:
pd.pivot_table(df, index='day')

          size       tip  total_bill
day
Fri   2.105263  2.734737   17.151579
Sat   2.517241  2.993103   20.441379
Sun   2.842105  3.255132   21.410000
Thur  2.451613  2.771452   17.682742

Notice I left off the 'values' column. If we omit it, we get the mean of everything numeric.

## Exercise:

Using the smoker tip data and pd.pivot_table(), answer the following questions:
- What is the average total bill for dinner vs. lunch over all days?
- What day of the week has the highest average lunch price?
- Who has a higher average tip: female smokers at lunch or male smokers? What about dinner?

In [31]:
pd.pivot_table(df, index=['time'], values=['total_bill'])

        total_bill
time
Dinner   20.797159
Lunch    17.168676

In [38]:
#pd.pivot_table(df, index=['day', df['time'][df['time']=='Lunch']], values=['total_bill'])
pd.pivot_table(df[df['time']=='Lunch'], index=['day', 'time'], values=['total_bill'])

            total_bill
day  time
Fri  Lunch   12.845714
Thur Lunch   17.664754

- Thursday has the highest average lunch price

In [39]:
#pd.pivot_table(df, index=['time', 'sex', df['smoker'][df['smoker']=='Yes']], values=['tip'])
pd.pivot_table(df[df['smoker']=='Yes'], index=['time', 'sex', 'smoker'], values=['tip'])

                           tip
time   sex    smoker
Dinner Female Yes     2.949130
       Male   Yes     3.123191
Lunch  Female Yes     2.891000
       Male   Yes     2.790769

- Lunch time: Female smokers tip slightly more
- Dinner time: Male smokers tip more

## What if I not interested in the average?
<br>

![](https://media.giphy.com/media/l0K3ZRJ1IXfxgmMQU/giphy.gif)

## Why do we even get the average?

![](http://i.imgur.com/YsEx6y4.png)

What is this 'aggfunc'?

## Let's change from the mean to something else

In [22]:
pd.pivot_table(df, index=['sex'], aggfunc='max')

         day  size smoker   time   tip  total_bill
sex
Female  Thur     6    Yes  Lunch   6.5       44.30
Male    Thur     6    Yes  Lunch  10.0       50.81

In [23]:
pd.pivot_table(df, index=['sex'], aggfunc='min')

        day  size smoker    time  tip  total_bill
sex
Female  Fri     1     No  Dinner  1.0        3.07
Male    Fri     1     No  Dinner  1.0        7.25

## Let's bring in numpy

In [24]:
import numpy as np

pd.pivot_table(df, index=['sex'], aggfunc=np.std)

            size       tip  total_bill
sex
Female  0.937644  1.159495    8.009209
Male    0.955997  1.489102    9.246469

## Let's make it a list

In [26]:
pd.pivot_table(df, index=['sex'], aggfunc=[np.mean, np.std, np.var, len])

            mean                            std                       \
            size       tip total_bill      size       tip total_bill
sex
Female  2.459770  2.833448  18.056897  0.937644  1.159495   8.009209
Male    2.630573  3.089618  20.744076  0.955997  1.489102   9.246469

             var                       len
            size       tip total_bill  day size smoker time    tip total_bill
sex
Female  0.879177  1.344428  64.147429   87   87     87   87   87.0       87.0
Male    0.913931  2.217424  85.497185  157  157    157  157  157.0      157.0

Notice that we use 'len' in place of count to get the number

## Exercise

- Which day of the week has the highest total bill variance?
- Which day of the week had the largest party size? Smallest? How many total people each day?
- What is the mean, variance, and count of total bills by day of week and smoking status?

In [68]:
pd.pivot_table(df, index=['day'], values=['total_bill'], aggfunc=np.var)

      total_bill
day
Fri    68.934158
Sat    89.878338
Sun    78.006376
Thur   62.191683

In [69]:
pd.pivot_table(df, index=['day'], values=['total_bill'], aggfunc=np.var).idxmax()

total_bill    Sat
dtype: object

- Saturday has the highest total bill variance

In [70]:
pd.pivot_table(df, index=['day'], values=['size'], aggfunc=[sum, max, min])

      sum  max  min
     size size size
day
Fri    40    4    1
Sat   219    5    1
Sun   216    6    2
Thur  152    6    1

- Thursdays and Sundays have the biggest party size
- Thursdays, Fridays and Saturdays have the smallest party size

In [40]:
pd.pivot_table(df, index=['day', 'smoker'], values=['total_bill'], aggfunc=[np.mean, np.var, len])

                  mean         var        len
            total_bill  total_bill total_bill
day  smoker
Fri  No      18.420000   25.596333        4.0
     Yes     16.813333   82.562438       15.0
Sat  No      19.661778   79.908965       45.0
     Yes     21.276667  101.387535       42.0
Sun  No      20.506667   66.099980       57.0
     Yes     24.120000  109.046044       19.0
Thur No      17.113111   59.625081       45.0
     Yes     19.190588   69.808518       17.0

## Now let's pivot that last one by moving smoker status to the column

In [41]:
pd.pivot_table(df, index=['day'], columns=['smoker'], values=['total_bill'], aggfunc=[np.mean, len])

             mean                   len
       total_bill            total_bill
smoker         No        Yes         No   Yes
day
Fri     18.420000  16.813333        4.0  15.0
Sat     19.661778  21.276667       45.0  42.0
Sun     20.506667  24.120000       57.0  19.0
Thur    17.113111  19.190588       45.0  17.0

## What about subtotals?

In [42]:
pd.pivot_table(df,\
               index=['day'], columns=['smoker'],\
               values=['total_bill'],\
               aggfunc=[np.mean, len],\
               margins=True)

             mean                              len
       total_bill                       total_bill
smoker         No        Yes        All         No   Yes    All
day
Fri     18.420000  16.813333  17.151579        4.0  15.0   19.0
Sat     19.661778  21.276667  20.441379       45.0  42.0   87.0
Sun     20.506667  24.120000  21.410000       57.0  19.0   76.0
Thur    17.113111  19.190588  17.682742       45.0  17.0   62.0
All     19.188278  20.756344  19.785943      151.0  93.0  244.0

We now have subtotals for each piece both to the right and on the bottom

## Independent Exercise

Using the data below:
1. Create a DataFrame

2. Creat a pivot table that reports the mean, standard deviation, min, and
   max of the preTestScore for each company (1st and 2nd)

3. Create another that reports the same details for the postTestScore score

4. Create a pivot table that has the information from both of the above tables

5. Take it a step further and add the information for each regiment to the table

In [43]:
raw_data = {'regiment': ['Nighthawks', 'Nighthawks', 'Nighthawks', 'Nighthawks', \
                         'Dragoons', 'Dragoons', 'Dragoons', 'Dragoons', 'Scouts', \
                         'Scouts', 'Scouts', 'Scouts'], 
        'company': ['1st', '1st', '2nd', '2nd', '1st', '1st', '2nd', '2nd','1st', \
                    '1st', '2nd', '2nd'], 
        'name': ['Miller', 'Jacobson', 'Ali', 'Milner', 'Cooze', 'Jacon', 'Ryaner', \
                 'Sone', 'Sloan', 'Piger', 'Riani', 'Ali'], 
        'preTestScore': [4, 24, 31, 2, 3, 4, 24, 31, 2, 3, 2, 3],
        'postTestScore': [25, 94, 57, 62, 70, 25, 94, 57, 62, 70, 62, 70]}

In [46]:
# my workings
# 1. Create a DataFrame
rdf = pd.DataFrame(raw_data)

In [45]:
rdf.head()

  company      name  postTestScore  preTestScore    regiment
0     1st    Miller             25             4  Nighthawks
1     1st  Jacobson             94            24  Nighthawks
2     2nd       Ali             57            31  Nighthawks
3     2nd    Milner             62             2  Nighthawks
4     1st     Cooze             70             3    Dragoons

In [47]:
# 2. Creat a pivot table that reports the mean, standard deviation, min, 
#    and max of the preTestScore for each company (1st and 2nd)

pd.pivot_table(rdf, index=['company'], values=['preTestScore'], aggfunc=[np.mean, np.std, min, max])

                mean          std          min          max
        preTestScore preTestScore preTestScore preTestScore
company
1st         6.666667     8.524475            2           24
2nd        15.500000    14.652645            2           31

In [57]:
# 3. Create another that reports the same details for the postTestScore score

pd.pivot_table(rdf, index=['company'], values=['postTestScore'], aggfunc=[np.mean, np.std, min, max])

                 mean           std           min           max
        postTestScore postTestScore postTestScore postTestScore
company
1st         57.666667     27.485754            25            94
2nd         67.000000     14.057027            57            94

In [51]:
# 4. Create a pivot table that has the information from both of the above tables

pd.pivot_table(rdf, index=['company'], values=['preTestScore','postTestScore'], \
               aggfunc=[np.mean, np.std, min, max])

                 mean                        std                        min  \
        postTestScore preTestScore postTestScore preTestScore postTestScore
company
1st         57.666667     6.666667     27.485754     8.524475            25
2nd         67.000000    15.500000     14.057027    14.652645            57

                               max
        preTestScore postTestScore preTestScore
company
1st                2            94           24
2nd                2            94           31

In [64]:
# 5. Take it a step further and add the information for each regiment to the table

pd.pivot_table(rdf, index=['company'], values=['preTestScore','postTestScore'], \
               columns=['regiment'], aggfunc=[np.mean, np.std, min, max]).T

company                              1st        2nd
                   regiment
mean preTestScore  Dragoons     3.500000  27.500000
                   Nighthawks  14.000000  16.500000
                   Scouts       2.500000   2.500000
     postTestScore Dragoons    47.500000  75.500000
                   Nighthawks  59.500000  59.500000
                   Scouts      66.000000  66.000000
std  preTestScore  Dragoons     0.707107   4.949747
                   Nighthawks  14.142136  20.506097
                   Scouts       0.707107   0.707107
     postTestScore Dragoons    31.819805  26.162951
                   Nighthawks  48.790368   3.535534
                   Scouts       5.656854   5.656854
min  preTestScore  Dragoons     3.000000  24.000000
                   Nighthawks   4.000000   2.000000
                   Scouts       2.000000   2.000000
     postTestScore Dragoons    25.000000  57.000000
                   Nighthawks  25.000000  57.000000
                   Scouts      62.000000  62.000000
max  preTestScore  Dragoons     4.000000  31.000000
                   Nighthawks  24.000000  31.000000
                   Scouts       3.000000   3.000000
     postTestScore Dragoons    70.000000  94.000000
                   Nighthawks  94.000000  62.000000
                   Scouts      70.000000  70.000000

In [59]:
# solution
scores = pd.DataFrame(raw_data)
scores

   company      name  postTestScore  preTestScore    regiment
0      1st    Miller             25             4  Nighthawks
1      1st  Jacobson             94            24  Nighthawks
2      2nd       Ali             57            31  Nighthawks
3      2nd    Milner             62             2  Nighthawks
4      1st     Cooze             70             3    Dragoons
5      1st     Jacon             25             4    Dragoons
6      2nd    Ryaner             94            24    Dragoons
7      2nd      Sone             57            31    Dragoons
8      1st     Sloan             62             2      Scouts
9      1st     Piger             70             3      Scouts
10     2nd     Riani             62             2      Scouts
11     2nd       Ali             70             3      Scouts

In [60]:
# solution - preTest
pd.pivot_table(scores.iloc[:, [0, 3]], index=['company'], aggfunc=[np.mean, np.std, min, max]).T

company                  1st        2nd
mean preTestScore   6.666667  15.500000
std  preTestScore   8.524475  14.652645
min  preTestScore   2.000000   2.000000
max  preTestScore  24.000000  31.000000

In [61]:
# solution - postTest

pd.pivot_table(scores.iloc[:, [0, 2]], index=['company'], aggfunc=[np.mean, np.std, min, max]).T

company                   1st        2nd
mean postTestScore  57.666667  67.000000
std  postTestScore  27.485754  14.057027
min  postTestScore  25.000000  57.000000
max  postTestScore  94.000000  94.000000

In [62]:
# solution both

pd.pivot_table(scores.iloc[:, [0, 2, 3]], index=['company'],\
               aggfunc=[np.mean, np.std, min, max]).T

company                   1st        2nd
mean postTestScore  57.666667  67.000000
     preTestScore    6.666667  15.500000
std  postTestScore  27.485754  14.057027
     preTestScore    8.524475  14.652645
min  postTestScore  25.000000  57.000000
     preTestScore    2.000000   2.000000
max  postTestScore  94.000000  94.000000
     preTestScore   24.000000  31.000000

In [63]:
# solution both with regiment

pd.pivot_table(scores.iloc[:, [0, 2, 3, 4]], index=['company'],\
               columns=['regiment'], aggfunc=[np.mean, np.std, min, max]).T

company                              1st        2nd
                   regiment
mean postTestScore Dragoons    47.500000  75.500000
                   Nighthawks  59.500000  59.500000
                   Scouts      66.000000  66.000000
     preTestScore  Dragoons     3.500000  27.500000
                   Nighthawks  14.000000  16.500000
                   Scouts       2.500000   2.500000
std  postTestScore Dragoons    31.819805  26.162951
                   Nighthawks  48.790368   3.535534
                   Scouts       5.656854   5.656854
     preTestScore  Dragoons     0.707107   4.949747
                   Nighthawks  14.142136  20.506097
                   Scouts       0.707107   0.707107
min  postTestScore Dragoons    25.000000  57.000000
                   Nighthawks  25.000000  57.000000
                   Scouts      62.000000  62.000000
     preTestScore  Dragoons     3.000000  24.000000
                   Nighthawks   4.000000   2.000000
                   Scouts       2.000000   2.000000
max  postTestScore Dragoons    70.000000  94.000000
                   Nighthawks  94.000000  62.000000
                   Scouts      70.000000  70.000000
     preTestScore  Dragoons     4.000000  31.000000
                   Nighthawks  24.000000  31.000000
                   Scouts       3.000000   3.000000